:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Inter;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--Soft-red);
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  font-size: 15px;
  font-weight: 400, 700, 800;
  background-color: var(--Off-white);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
.mobile-Icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Menu-btn-mobile {
  cursor: pointer;
  display: inline-block;
  z-index: 300;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

.side-menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--Off-white);
  animation: closeMenu 1s;
  z-index: 200;
}
.side-menu-mobile ul {
  width: 100%;
  padding: 0;
  margin-top: 10em;
  padding-left: 1em;
}
.side-menu-mobile ul li {
  margin: 20px 0;
}
.side-menu-mobile ul li a {
  font-size: 1.4em;
}

.change ~ .side-menu-content {
  animation: openMenu 1s;
}

.screen-darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 100%;
  visibility: visible;
  animation: hideCover 1s;
}
.change + .screen-darken {
  animation: showCover 1s;
}

.desktop-navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-navbar-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-navbar-content ul li a {
  color: var(--Dark-grayish-blue);
}
.desktop-navbar-content ul li a:active,
.desktop-navbar-content ul li a:hover {
  color: var(--Soft-red);
}

main .home-page-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .home-page-details .home-page-details-container h1 {
  font-size: 3.3em;
  font-family: Inter-ExtraBold;
}

main .home-page-details .home-page-details-container div p {
  font-size: .9em;
  color: var(--Dark-grayish-blue);
}
main .home-page-details .home-page-details-container div .btn {
  color: var(--Off-white);
  background-color: var(--Soft-red);
  letter-spacing: 4px;
  font-size: 0.9em;
  font-family: Inter-Bold;
  text-transform: uppercase;
}
main .home-page-details .home-page-details-container div .btn:hover {
  background-color: black;
}

main .home-page-new-box .new-box-container {
  background-color: var(--Very-dark-blue);
}
main .home-page-new-box .new-box-container hr {
  color: var(--Grayish-blue);
}
main .home-page-new-box .new-box-container h1 {
  color: var(--Soft-orange);
  font-family: Inter-Bold;
}
main .home-page-new-box .new-box-container div a {
  cursor: pointer;
  display: block;
  color: var(--Off-white);
  /* font-size: 1.4em; */
  font-family: Inter-Bold;
}
main .home-page-new-box .new-box-container div a:hover,
main .home-page-new-box .new-box-container div a:active {
  color: var(--Soft-orange);
}
main .home-page-new-box .new-box-container div span {
  color: var(--Grayish-blue);
}

footer section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section div .footer-items-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
footer section div .footer-items-detail h1 {
  font-family: Inter-ExtraBold;
  color: var(--Grayish-blue);
}
footer section div .footer-items-detail h2 {
  cursor: pointer;
  display: block;
  font-family: Inter-ExtraBold;
  font-size: 1.1em;
  color: var(--Very-dark-blue);
}
footer section div .footer-items-detail h2:hover,
footer section div .footer-items-detail h2:active {
  color: var(--Soft-red);
}
footer section div .footer-items-detail p {
  font-size: 0.9em;
  color: var(--Dark-grayish-blue);
}

@keyframes openMenu {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes closeMenu {
  from {
    width: 70%;
  }
  to {
    width: 0;
  }
}

@keyframes showCover {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes hideCover {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
